body {
    background-color: #F26849;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    color: #261722;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 150px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h4 {
    margin-left: 0 auto;
    margin-right: 0;
}

#pergunta {
    height: 30px;
}

#bolaDeCristal {
    width: 300px;
    height: 300px;
    color: white;
    background-image: url("bolaDeCristal.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}